

<div class="donate-form">

<script type="text/javascript" src="https://form.jotform.com/jsform/60337087425153"></script>
</div>

<p class="disclaimer">Contributions to Steinberg for Sacramento Mayor 2016 are not tax deductible. Chapter 2.13 of the Sacramento City Code limits the amounts that a contributor may give to a candidate for Mayor for a primary, general or special election. Generally, a contributor other than a large political committee may not give more than $3,300 to a candidate for Mayor for a primary, general or special election, while a large political committee may not give more than $11,000 to a candidate for Mayor for a primary, general or special election. Chapter 2.13 contains certain other rules that may affect the amounts that an individual contributor may give. Please read Chapter 2.13 before making a contribution to my campaign.</p>


<% content_for :rh do %>
<h3>Our Campaign Fundraisers</h3>

<p>For more information on our upcoming fundraising events, or for general fundraising inquiries, please contact:</p>
<p><strong>Dan Weitzman</strong><br/>Tel: 916-444-1186<br/>email: <%= mail_to 'dan@danweitzman.net'   %>
<p><strong>Amber Moran Wannell</strong><br/>Tel: 916-448-2258<br/>email: <%= mail_to 'amber@amwconsulting.net'%>

<h3>Contribute by check</h3>
<p>Please make checks payable to:<br/>
	<strong>Steinberg for Sacramento Mayor 2016 <br/>ID# 1380886</strong>
<p>Mail checks to:<br/> 1100 O Street Suite 200,<br/>Sacramento, <br/>CA 95814






<% end%>