

<h1>Admin#index</h1>
<p class="lead">This is the Admin hub from where you can manage the website. Only registered admins can see this area.</p>


<%= link_to 'Manage Pages', pages_path, class: "btn btn-primary" %> 
<%= link_to 'Manage Issues', issues_path, class: "btn btn-primary" %> 

<%= link_to 'Manage Testamonies', testamonies_path, class: "btn btn-primary" %> 

<%= link_to 'Manage Mailer Recipients', mail_recipients_path, class: "btn btn-primary" %> 


