<h1>TV Ads from the campaign</h1>

<p>We've put together these videos to highlight some of the key qualities Darrell will bring to Sacramento as it's next mayor.</p>

<h3>Sac Bee Endorses Steinberg for Mayor</h3>
<p>The Sacramento Bee says “Steinberg is the Clear Choice for Sacramento Mayor.”</p>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tCfbGhdPMUM?rel=0" allowfullscreen></iframe>
</div>
<br/><br/>
<h3>All about Community</h3>
<p>For more than 20 years in public office, Darrell has always been about the community.</p>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SYUPlZjg3oA?rel=0" allowfullscreen></iframe>
</div>

<br/><br/>
<h3>On the Homeless Crisis facing Sacramento</h3>
<p>"It's the toughest problems where we need the next mayor to lead."</p>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vq-1Lo7tjtM?rel=0" allowfullscreen></iframe>
</div>


<% content_for :rh do %>

 
 <%= render '/layouts/endorsement_panel.html.erb' %>
 <%= render '/layouts/support_panel.html.erb' %>
 
 
<% end %>