
body {
	background-color:#16507F ;
}

.has-error {
	color:red;
	padding:5px;
	background-color: #F0CCCB;
}
.lead {
	font-size: 1.4em;
}
.clear {
	clear:both;
}
.page {
	padding:00px 0;
	background-color:#fff;
	min-height:57%;
	
	
}

.actions input:hover{
	background:#FB9A3B;
	color:#fff;
	border:1px solid #FB9A3B;
}

.main {
	padding:40px 20px;
	
}
.navbar {
  border-radius: 0 !important;
}

.navbar-toggle {
	color:#fff;
}

.navbar-toggle a:hover{
	background-color: #ff6600;
}

.tog-menu {
	margin-top:15px;
}

.headset {
	  background-color:#16507F;
	  background-size: 100% 100%;
	  width: 100%;
	  padding:10px 0 10px;
	  min-height:180px;
	}
	
	.headset img {
		margin-top:8px;
	}

	.mcinput {
		float:left;
	}

.cta  {
	margin-top:28px;
	width:60%;
	float:right;
	background-color:#FBB03B;
	
	
}	

.mailchimp {
	width:60%;
	background-color:#143C5B;
	padding:16px 25px;
	float:left;
}

.mailchimp h2 {
	margin-top:0;
	font-size:1.4em;
	color:#fff;
	text-transform:uppercase;
	font-family: "clavo", sans-serif;
}

.mailchimp p{
	font-size:1.3em;
	font-weight:400;
}

.fillin {
	width:60%;
}
.mailchimp input{
	
	padding:5px;
	margin-right:10px;
	font-size:1em;
}

.mailchimp label{
	padding-top:7px;
	margin-right:3px;
	font-size:1em;
}

.mailchimp .btn,  {
	padding:5px 5px;
	font-size:1em;
	text-transform:uppercase;	
}

.donate {
	width:100%;
	text-align:center;
	
	color:#fff;
	padding:15px 0;
	font-family: "clavo", serif;
	font-weight:bold;
}

.donate a {
	background:none;
	color:#fff;
	
	
}

.donate a{
	font-size:2.4em;
	background-color:#FB9A3B;
	color:#fff;
}

.donate a:hover{
	
	background-color:#E55E13;
	color:#fff;
}

.navbar {
	font-family: "proxima-nova", sans-serif;
	background-color: #2F6697;
	font-size:1.2em;
	padding:0px 0;
	margin-bottom:0px;
	text-transform: uppercase;
}
.navbar a {
	margin:0 10px;
	color:#fff;
}
.navbar a:hover {
	color:#FB9A3B;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
	
    color: #fff;
}


 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
	 
      background: #fff;
	  
 }
 
 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  
     color: #FB9A3B;
 }
 .droppy {
	 padding:5px 0;
	 
 }
 
 .droppy a {
	 color:#153C5B;
 }
 .droppy:hover {
 	background-color:#eee;
 }

 .dropdown:hover .dropdown-menu {
 display: block;
 }

 .jumby {
	 color:#fff;
 }

.jumbylead {
	
	background:#2E659B;background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(46, 101, 155, 0.362);
	
	
	
}

.jumbylead h1{
	
	
			
}

.jumboleader {
	font-family: "clavo", serif;
	font-size: 3.5rem;
	    color: #fff;
		text-shadow: 0 1px 0 rgba(0,0,0,.5);
		text-align:left;
	
}
.jumbylead p{
	
	font-size: 1.5em;
	font-weight:300;
	    color: #000000;
}

.outerwrapper {
	background: url("ds2.jpg") center center no-repeat;
	background-size:cover;
}

.outerwrapper-news {
	background: url("newsjumbo.jpg") center center no-repeat;
	background-size:cover;
}

.jumbotron {
	min-height:450px;
	background-color: transparent;
	text-align:center;
	padding: 350px 0 10px;
	margin:0 0;
}

.jumbotron-issues {
	min-height:450px;
	background-color: transparent;
	text-align:center;
	padding: 300px 0 10px;
	margin:0 0;
}



.learnmore {
}

.admin-button {
	margin-top:50px;
	clear:both;
	float:right;
}
h1 {
	color: #172943
}

h2 {
	margin-top:30px;
	margin-bottom:10px;
	color: #172943}
h3 {
	color: #172943
}

p {
	font-size:1.1em;
	font-weight:300;
}

section {
	padding-bottom:40px;
}
footer {
	
	
	margin-top:0px;
	color: #fff;
	text-align:center;
	padding: 20px 0 50px;
	
	
	
}

.footer-col {
	padding:20px;
	text-align:left;
	font-size:1em;
	font-weight: 300;
}

.footer-col ul {
	border-top:1px solid #F0AD4D;
	padding-top:10px;
}

.footer-col p {
	border-top:1px solid #F0AD4D;
	padding-top:10px;
}
.footer-col strong {
	font-weight: 330;
}

.footer-col h3 {
	font-size:1.1em;
	text-transform:uppercase;
	color:#FB9A3B;
	font-weight:400;
	
	
}

.footer-donate a{
	background-color:#FB9A3B;
	color:#fff;
	padding:5px;
}

.footer-donate a:hover{
	background-color:#FB9A3B;

	background-color:#E55E13;
	
}

.footer-col ul {
	margin-left:0;
	padding-left:0;
	float:left;
	width:50%;
}
.footer-col li{
	list-style:none;
	text-transform:uppercase;
	font-size:1.1em;
	
}

.footer-col li a {
	color:#fff;
}

.footer-col li a:hover {
	color:#FB9A3B;
	text-decoration:underline;
	
}
.paidforby {
	border:1px solid #fff;
	padding:10px;
	text-align:center;
	font-size:0.8em;
	width:30%;
	margin:0px auto;
	margin-bottom:20px;
}
.notices {
	margin:20px 0 0;
	padding:20px;
}

.pagination {
	width:100%;
	text-align:center;
	
}



.blueband {
	background-color:#2E659B;
	color:#fff;
	padding: 50px 0;
	
}

.blueband .header {
	
	font-family: "clavo", serif;
	padding:5px 10px;
	background-color:#29ABE2;
	font-size:1.6em;
	text-transform:uppercase;
	 font-style: italic;
	
}

.blueband h4 {
	padding:20px 0 0px;
	color:#fff;
	font-family: "clavo", serif;
}

.blueband p {
	color:#fff;
	padding: 10px 0;
}
.footnav ul {
	font-size:1.2em;
	padding:10px 0 50px;
	min-height:10;
	width:80%;
	margin:0px auto;
}
.footnav li {
	padding:0 20px;
	list-style:none;
	display:inline;
}
.content {
	padding:40px 40px;
}
.opening {
	font-size:1em;
}

.bio {
	
}

.donate-form {
	width:100%;
	height:500px;
	 background-color:#F3F3F3;
	 padding:100px 20px;
	 margin-bottom:30px;
	 text-align:center;
}

.flyer{
	width:600px;
	margin:0px auto;
	
}

.pad15 {
	padding-left:15px;
}

.lefty {
	text-align: left;
}

.mailer {
	padding:50px 0;
}

.breather h2{
	padding-bottom:20px;
}

.humans { display: none; }

.success {
	width: 80%;
	padding: 50px;
	margin:0px auto;
	background-color:#fff;
	
	
}


.rh {
	
	background-color:#ccc;
	padding:15px;
	
}

.rh h4 {
	margin-top:0;
	font-size:1.4em;
	color:#fff;
	
}

.rh p{
	font-size:1.3em;
	font-weight:400;
}
.rh input{
	width:100%;
	padding:5px;
	margin-bottom:10px;
	font-size:1.3em;
}

.rh label{
	padding-top:7px;
	margin-right:5px;
	font-size:1.3em;
}

.rh .btn {
	padding:5px 10px;
	font-size:1.3em;
}

.events-signup {
	
	
	
}

.events-signup h4 {
	color:#B32435;
	
}

.events-signup p{
	font-size:1.3em;
	font-weight:400;
}
.events-signup .email {
	width:70%;
}
.events-signup input{
	margin-right:20px;
	padding:5px;
	margin-bottom:10px;
	font-size:1.3em;
}

.events-signup label{
	padding-top:7px;
	margin-right:5px;
	font-size:1.3em;
}

.events-signup .btn {
	float:left;
	padding:5px 10px;
	font-size:1.3em;
}
.rh-donate {
	margin:10px 0;
	background-color:#18487F;
	padding:15px 15px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
}

.rh-donate h3 {
	color:#fff;
	font-size:1.4em;
	margin-top:0px;
}
.rh-donate button {
	
	font-size:1.8em;
	background-color:#B32435;
	color:#fff;
}

.rh-donate button:hover {
	background-color:#78121E;
	color:#fff;
}

.well {
	padding-top:5px;
	padding-bottom:15px;
}

.crunchify-top:hover {
	color: #fff !important;
	background-color: #ed702b;
	text-decoration: none;
}
 
.crunchify-top {
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	padding:10px;
	font-size: 1rem;
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
	border-radius: 3.2rem;
	
	text-align: center;
	cursor: pointer;
}

.login {
	padding:20px;
	width: 300px;
	margin:0px auto;
	margin-bottom:40px;
	background-color:#efefef;
}

.login-field input{
	width:100%;
}

.login-button {
	text-align: right;
	margin-top:30px;
}

.caveat {
	padding:10px;
	background-color: #FFF3F3;
	color: #FD0F0F;
	margin:20px 0;
}
.page-title-col {
	width:70%;
}

.edit-content {
	min-height:300px;
}

.admin-card {
	border:0;
	background-color:#EEF6F9;
}
.issue-card {
	float:left;
	width:300px;
	height: 500px;
	margin:20px 30px 20px 35px;
	border:1px solid #efefef;
}

.issue-card-sml {
	font-size: 0.9em;
	width:300px;
	
	margin:20px 0px ;
	padding-bottom:0px;
	border:0;
	border-bottom: 1px solid #eee;
}

.no-padding {
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
}

.sig {
	margin-top:50px;
}

.issue-card img {
	height:200px;
	width: 100%;
}

.issue-card-sml img {
}


input.choose-image {
	padding:10px 20px;
}

.message-field {
	min-height:300px;
}



.news-img {
	padding:10px 20px;
}

.news-teaser h3 {
	font-size:1.5em;
	font-weight:400;
	margin-bottom:0;
}
.news-teaser {
	font-weight:300;
	padding:10px 0px 0 20px;
}

.newslink a{
	color:#fff;
	text-transform:uppercase;
	
}

.newslink {
	color:#FBB03B;
	margin-bottom:0;
	padding-bottom:0;
}

.fa-read-more {
	padding-left:5px;
	
	color:#FBB03B;
}

.edit {
	padding: 5px 10px;
	color:#ccc;
	margin-bottom:10px;
	background-color:#FBFBFB;
	
}
.fa-edit {
	color:#aaa;
	
}


.admin-edit {
	color:#aaa;
	text-transform:uppercase;
	margin-top:7px;
}

.reception-edit {
	padding:5px;
	background-color:#DADAD9;
}

.admin-edit:hover {
	color:#FB9A3B;
	text-decoration:none;
}


.read-more a{
	font-size: 0.7em;
	color:#FBB03B;
}

.rails-bootstrap-forms-date-select,
.rails-bootstrap-forms-time-select,
.rails-bootstrap-forms-datetime-select {
  select {
    display: inline-block;
    width: auto;
  }
}
.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}

.simple-calendar {
	font-size:1.3em;
}
.calendar {
 padding-bottom:30px;
} 

 .simple-calendar {
 	 text-align:center;
 }
 
 .simple-calendar a{
 	 color:#FB9A3B;
	 font-size:0.7em;
 }
 .calendar-header {
  text-align:center;
  font-size: 2.8em;
  padding:10px;
  margin-bottom:20px;
  border:1px solid red;
 }
 .calendar-header a{
  padding: 0 10px;
 }
 
 .calendar th{
  color:#333;
  text-align:center;
 }
 
 .current-month {
	 background-color: #F8FBFF;
 }
 .calendar td {
  border:5px solid #fff;
  color:#333;
  vertical-align: top;
  text-align:center;
  width: 120px;
  height: 150px;
  padding:10px;
 
 }
 
 .calendar td a{
  color:#FB9A3B;
  font-size:0.8em;
  
 }
 
 .day {
 }
 

 .past {
  background-color: #F8FBFF;
 }
 
 .wday-6, .wday-0{
  background-color: #FFF3E1;
 }
 
 td.today {
  color: #ff6600;
  background-color: #FBEBEB;
  
 }
 
 .next-month, .prev-month {
  background-color: #F4F9F9;
 }
 
 .event-details {
	 padding:20px;
	 
 }
 
 .event-details h2,h3{
 }
 
 .event-details h3{
	 color:#FB9A3B;
 }
 
 .event-img {
	 padding:20px 0px;
	
	 margin-bottom:30px;
 }
 
 .eventlist {
	 border-top:1px solid #eee;
	 margin: 20px 0 30px;
	 padding-top:10px;
 }
 
 .edit-endorsement {
	 font-size: 0.6em;
	 text-transform:uppercase;
	 font-weight:400;
 }
 
 .edit-testamony {
	 font-size: 0.6em;
	 text-transform:uppercase;
	 font-weight:400;
 }
 .testamony {
	 
	 padding:20px;
	 text-align:center;
	 margin:20px 0;
 }
 .testamony-quote {
	 padding:50px 50px 0 ;
	 font-size: 1.8em;
	 font-family: "clavo", serif;
 }
 
 .testamony-title {
	 color:#666;
	 font-family: "clavo", serif;
	 font-size: 1.3em;
 }
 
 .testamony-name {
 	color:#666;
	font-weight:bold;
	font-size: 1.7em;
	margin-top:20px;
	
 }
 
 .quote {
	 color:#FBB03B;
	 font-size: 0.8em;
 }
 
 .carousel{
	 text-align:center;
	 padding:00px 0 0;
	
 }
 
 .carousel-inner {
	 
	 padding:0px 0;
	 background-color:#fbfbfb;
	 margin:50px 0 20px 0;
	 min-height:380px;
 }
 
 .carousel-indicators li {
     display: inline-block;
     width: 10px;
     height: 10px;
     margin: 5px;
     text-indent: 0;
     cursor: pointer;
     border: none;
     border-radius: 50%;
     background-color: #efefef;
	 border: 1px solid #FDAA4B;
         
 }
 .carousel-indicators .active {
     width: 10px;
     height: 10px;
     margin: 5px;
     background-color: #FDAA4B;
     border: none;
     border-radius: 50%;
     box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.3);
 }
 
 .carousel-control.left, .carousel-control.right {
     background-image: none;
	 color:#333;
	 bottom:-250px;
	 
 }
 


.receptionist {
	background-color:#efefee;
	padding:20px;
	margin-bottom:20px;
}

.receptionist h3 {
	text-transform:capitalize;
}

.disclaimer {
	font-size:1em;
	font-style:italic;
}

.fb-page {
	margin-bottom:10px;
}

.news-img {
	margin:0 0 20px 0;
	padding:0;
}

.ad-panel {
	margin:0px 0 20px;
	
}

.ad-row {
	padding:20px 0;
}
.ad {
	width:100%;
	min-height:300px;
	padding:10px 12px;
	border:10px solid #fafafa;
	text-align:center;
}

.ad h2 {
	margin-top:5px;
	background-color: #FBB03B;
	padding:10px 0;
	margin-bottom:10px;
	text-transform:uppercase;
	font-size:1.3em;
	color:#fff;
}

.ad p {
	color:#153C5B;
	font-weight:300;
	font-size:1.3em;
}

.low-q {
	text-align:center;
	margin: 20px 0;
	padding:20px;
	background-color:#efefef;
}

.low-q img {
	border:5px solid #fff;
}

.low-q p {
	font-weight:350;
	margin:10px 0;
}