<div class="bio-panel col-sm-4">
	
	<h2>A Darrell's Experience</h2>
	
	<p>With over twenty years of public service behind him, learn about Darrel, and see what qualities he'll bring to City Hall</p>
	
	
	
</div>