<div class="ad-panel">
	<div class="ad">
	<h2>Darrell's Experience</h2>
	
	<p>With over twenty years of public service behind him, learn about Darrell, and see what qualities he'll bring to City Hall</p>
	<p><%= link_to 'Learn about Darrell', darrell_about_path, class: 'btn btn-primary'%></p>
	</div>
	
	
</div>


	