<div class="ad-panel">
	<div class="ad">
	<h2>Endorsements</h2>
	
	<p>Darrell's list of endorsements and supporters cointinues to grow - across all sections of our community - see the full list here</p>
	<p><%= link_to 'See Endorsements', endorsements_path, class: 'btn btn-primary'%>
</div>
	
</div>