<div class="container">
	<div class="row ad-row">
		<div class="ad-panel col-sm-4">
<%= render '/layouts/endorsement_panel.html.erb' %>
</div>
<div class="ad-panel col-sm-4">
<%= render '/layouts/issues_panel.html.erb' %>
</div>
<div class="ad-panel col-sm-4">
<%= render '/layouts/support_panel.html.erb' %>
</div>
</div>
</div>