<div class="ad-panel">
	<div class="ad">
	<h2>Darrell on the Issues</h2>
	
	<p>Our city faces a number of key issues. Learn about them and Darrel's standpoint on each of them here.</p>
	
	<p><%= link_to 'Learn More', darrell_issues_path, class: 'btn btn-primary'%>
</div>
	
</div>