		
		
	 <li>Home</li>
		 
		
		<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Darrell<span class="caret"></span></a>
		          <ul class="dropdown-menu drops" role="menu">
		            <li class="active">About</li>
					 <li >On the Issues</li>
		            
					
		            
					
		          </ul>
		        </li>
		 
		 
		