
	
	<div class="ad-panel ">
		<div class="ad">
		<h2>Support Darrell</h2>
		<p>Find out how you can support the campaign - from displaying a lawn sign, to walking precincts - we need your help!</p>
		<p><%= link_to 'Support Darrell', support_path, class: 'btn btn-primary'%>
	</div>
	</div>
	
	