
	
	<div class="support-me">
		
		<h3>Stand with Darrell</h3>
		<p>Find out how you can support Darrell's campaign here - from displaying a lawn sign, to joining a phone bank - we need your help!</p>
		<p><%= link_to 'Learn more', '#', class: "btn btn-warning" %></p>
		
	</div>
	
	